header{
	background-color: #556b2f;
	padding: 20px;
	height:300px;
}
nav{
	background-color: #556b2f;
	text-align: center;
	padding: 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #FFA500;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#header img{
	float:left;
	padding:20px;
}
#header h1 h2{
	float:right;
}
#opening{
	background-color: #808080;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width:60%;
}
#upper {
	padding: 20px;
}
#mission {
    background-color: #808080;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}
#testimonials {
    background-color: #808080;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}
#lower {
	padding: 20px;
}
#map {
    background-color: #808080;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 62%;
}
#upcoming {
    background-color: #808080;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 30%;
}
aside{
	background-color: #556b2f;
	border: 1px black solid;
	padding: 20px;
	color: #FFA500;
}
article{
	background-color: #556b2f;
	border: 1px black solid;
	padding: 20px;
	color: #FFA500;

}
footer{
	background-color: #556b2f;
	border: 1px black solid;
	padding: 20px;
}
h1{ 
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	color: #FFA500	
}
h3{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	color: #FFA500	
}
h2{
	font-family: 'Poppins', sans-serif;
	color: #FFA500;
}
body{
	background-image: url(images/farmland.jpeg);
	background-color: #cccccc;
	font-family: 'Bree Serif', serif;
	color: #FFA500;
	text-align: center;
}
a {
	font-family: 'Poppins', sans-serif;
	color: #FFA500;
	font-size: 25px;

}
ul{
	font-family: 'Bree Serif', serif;
	text-align: center;
	list-style-type: none;
	color: #FFA500;
}
p{
	font-size: 20px;
}