
header{
	background-color: #556b2f;
	padding: 1.2em;
	margin: 2em;
}
header img{
	width: 16em;
}
nav{
	background-color: #556b2f;
	text-align: center;
	padding: 1.2em;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	color: #FFA500;
	width: 100%;
}
nav a {
	margin-right: 1.5em;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#header img{
	float:left;
	}
#header h1 h2{
	float:right;
	padding: 1.2em;
}
#upper {
	padding: 1.2em;
	background-color: white;
}
#mission {
    background-color: #808080;
    border: .05em black solid;
    padding: 1.2em;
    float: left;
    width: 30%;
    font-size: .75em;
    text-align: left;
    margin-top: 3em;
}
#testimonials {
    padding: 1.2em;
    float: right;
    width: 50%;
    color: black;
    text-align: left;
}
#lower {
	padding: 1.2em;
	background-color: white;
}
#map {
    padding: 1.2em;
    float: left;
    width: 55%;
    text-align: left;
    color: black;
}
#map img {
	width: 75%;
}
#upcoming {
    background-color: #808080;
    border: .05em black solid;
    padding: 1.2em;
    float: right;
    width: 35%;
    height: fill;
    margin-top: 5em;
    text-align: left;
}
#upcoming li{
	margin-bottom: 1em;
	text-align: left;
}
footer{
	background-color: #556b2f;
	padding: 1.2em;
}
footer img{
	width: 4em;
	margin-right: 1em;
	margin-left: 1em;
}
h1{ 
	font-family: 'Poppins', sans-serif;
	font-size: 3.5em;
	color: #FFA500	
}
h3{
	font-family: 'Poppins', sans-serif;
	font-size: 2.5em;
	color: #FFA500	
}
h2{
	font-family: 'Poppins', sans-serif;
	color: #FFA500;
}
body{
	background-color: #556b2f;
	font-family: 'Bree Serif', serif;
	color: #FFA500;
	text-align: center;
	font-size: 16px
}
a {
	font-family: 'Poppins', sans-serif;
	color: #FFA500;
	font-size: 1.5em;

}
ul{
	font-family: 'Bree Serif', serif;
	text-align: center;
	list-style-type: none;
	color: #FFA500;
}

@media (max-width: 1270px){
	body{
		font-size: 12px;
	}
	nav a{
		margin-right: 1em;
		}
	header img{
	width: 16em;
	}
}
@media (max-width: 810px){
	#mission{
		float:none;
		width:80%;
	}
	#testimonials{
		float: none;
		width:80%;
	}
	#map{
		float:none;
		width:80%;
	}
	#upcoming{
		float: none;
		width:80%;
	}
}
@media (max-width: 500px){
	h1{
		font-size: 2em;
	}
	h3{
		font-size:1.5em;
	}
	nav a {
		display: block;
		margin: bottom 1em;
	}
	#header img{
		float: none;
	}
}
